{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
    <img src="{{event.coverphoto.url}}" alt="{{event.title}}" srcset="">
    <h2>{{event.title}}</h2>
    <br>
    <p class="icon-link secondary">
        <i class="bi bi-person-circle"></i>
        Organized by: @{{event.organizedby.username}}
    </p>
    <br>
    <p class="icon-link secondary">
        <i class="bi bi-geo-alt-fill"></i>
        {{event.location}}
    </p>
    <br>
    <p class="icon-link secondary">
        <i class="bi bi-calendar"></i>
        {{event.date}} {{event.time}}
    </p>
    <br>
    <p>{{event.description}}</p>
    <br>
    <a href="/events/{{event.id}}/register" class="btn btn-primary">Register</a>
</div>
{% endblock %}